{%  extends '../layouts/_default.twig' %}
{% block main_content %}
    <h1>List of Questions</h1>
    <ul>
        <a href="/questions/new">Add New Question</a>
        {% for question in questions %}
            <li><a href="/questions/{{ question.id }}/show"> {{ question.question }}</a></li>
            <a href="/questions/{{ question.id }}/edit">Edit</a>
            |
            <a href="/questions/{{ question.id }}/delete" methods="del">Delete</a>
        {% endfor %}
    </ul>
{% endblock %}
