{%  extends '../layouts/_default.twig' %}
{% block main_content %}
    <h1>List of Choices</h1>
    <ul>
        <a href="/choices/new">Add New Choice</a>
        {% for choice in choices %}
            <li><a href="/choices/{{ choice.id }}/show"> {{ choice.choice }}</a></li>
            <a href="/choices/{{ choice.id }}/edit">Edit</a>
            |
            <a href="/choices/{{ choice.id }}/delete" methods="del">Delete</a>
        {% endfor %}
    </ul>
{% endblock %}
