{%  extends '../layouts/_default.twig' %}
{% block main_content %}
    <h1>Login With Github</h1>
    <a href="https://github.com/login/oauth/authorize?client_id=e8bb249dc2d40509c3ab">
        Login
    </a>
<br>
<br>
    <a href="/auth/deleteSession">Delete Sessions</a>
{% endblock %}


